:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --link-hover: #3498db;
}

.dark-mode {
    --bg-color: #2c3e50;
    --text-color: #ecf0f1;
    --primary-color: #34495e;
    --secondary-color: #3e5870;
    --link-hover: #1abc9c;
}